/* Popup.css */
.popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 약간 어둡게 설정 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.popup-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 35vw;
  max-height: 400vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 팝업에 약간의 그림자 추가 */
  margin-bottom: 15vh;
}
