.text body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f9f9f9; */
  background-color: red;
}

.text header {
  background-color: #ffb471;
  color: white;
  padding: 15px;
  text-align: center;
}

.text main {
  width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px;
  background-color: white;
}

.text form {
  display: flex;
  margin-bottom: 20px;
}

.text form input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.text form button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #ffb471;
  color: white;
  cursor: pointer;
}

.text form button:hover {
  background-color: #f58d33;
}

.text form#msg {
  margin-bottom: 0;
}

.text ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.text ul.message-list {
  display: flex;
  flex-direction: column;
}

.text .chat-message {
  padding: 10px;
  margin: 15px 10px; /* 위아래 간격 조정 */
  max-width: 60%; /* 박스 너비 제한 */
  border-radius: 20px; /* 둥글게 만들기 위해 값 증가 */
  position: relative; /* 말풍선 화살표 위치를 위한 상대 위치 설정 */
  font-size: 16px;
}

.text .chat-message.sent {
  background-color: #eb8f90;
  align-self: flex-end;
}

.text .chat-message.received {
  background-color: #d0e6f1;
  align-self: flex-start;
}

.text ul {
  list-style: none;
  padding: 0;
}

.text .sent {
  background-color: #e6f7ff;
  color: #000;
  text-align: right;
  margin: 15px 10px; /* 위아래 간격 조정 */
  border-radius: 20px; /* 둥글게 만들기 위해 값 증가 */
  margin-left: 40%;
}

.text .received {
  background-color: #d4e1f2;
  color: #000;
  text-align: left;
  margin: 15px 10px; /* 위아래 간격 조정 */
  border-radius: 20px; /* 둥글게 만들기 위해 값 증가 */
  margin-right: 40%;
}

.text #chat-container {
  max-height: 500px; /* 기존의 500px에서 조금 줄여 입력 창과 겹치지 않게 하기 */
  min-height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.text #chat-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 숨김 */
}

/* TextChatting.css */

/* 타이핑 인디케이터 스타일 */
#typing-indicator {
  position: absolute;
  bottom: 80px; /* form 높이와 비슷한 값으로 조정해 주세요 */
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

#typing-indicator span {
  margin-right: 10px;
  background-color: #eee;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #ffffff;
}
