.text {
  width: 96%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px;
  background-color: white;
}

.text header {
  background-color: #ffb471;
  color: white;
  padding: 15px;
  text-align: center;
}

.text body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f9f9f9; */
  background-color: red;
}

.text form {
  display: flex;
}

.text form input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.text form button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #ffb471;
  color: white;
  cursor: pointer;
}

.text form button:hover {
  background-color: #f58d33;
}

.text form#msg {
  margin-bottom: 0;
}

.text ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.text ul.message-list {
  display: flex;
  flex-direction: column;
}

.text .chat-message {
  padding: 10px;
  margin: 7px 5px; /* 위아래 간격 조정 */
  max-width: 40%; /* 박스 너비 제한 */
  border-radius: 20px; /* 둥글게 만들기 위해 값 증가 */
  font-size: 16px;
}

.text .chat-message.sent {
  background-color: #eb8f90;
  align-self: flex-end;
}

.text .chat-message.received {
  background-color: #d0e6f1;
  align-self: flex-start;
}

.text #chat-containers ::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 숨김 */
}

#chat-containers {
  min-height: 450px;
  max-height: 450px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#chat-containers ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 기본적으로 모든 메시지를 오른쪽에 정렬 */
}

.text ul {
  list-style: none;
  padding: 0;
}

/* TextChatting.css */

#typing-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

#typing-indicator span {
  margin-right: 10px;
  background-color: #eee;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #ffffff;
}

.text .message-time {
  font-size: 0.7em;
  color: #ffffff;
  margin-left: 10px;
}
