/* Password3.css */
.gauge-bar-enter {
  width: 0;
}

.gauge-bar-enter-active {
  width: 66%;
  transition: width 300ms;
}

.gauge-bar-exit {
  width: 66%;
}

.gauge-bar-exit-active {
  width: 0;
  transition: width 300ms;
}

.gauge-bar {
  background-color: #4caf50;
  height: 10px;
  width: 0;
  margin-top: 16px;
  border-radius: 5px;
}